[Desktop Entry]
Version=1.0
Name=Twitch
Comment=Twitch
Exec=omarchy-launch-webapp https://www.twitch.tv
Terminal=false
Type=Application
Icon=/home/alexandre/.local/share/applications/icons/Twitch.png
StartupNotify=true
